<div class="body">


    <div>
        <h1>Task List</h1>
        <div class="tasks">
            <div *ngFor="let task of alltasks" class="task">
                <div>
                    <h3>{{task.title}}</h3>
                    <p>{{task.description}}</p>
                    <div *ngIf="task.completed">
                        <h4>Done</h4>
                    </div>
                </div>
                <form (submit)="findTask($event)">
                    <input type="hidden" value="{{task.title}}" id="title">
                    <button type="submit">
                        SHOW
                    </button>
                </form>
            </div>
        </div>
    </div>
    

    <div *ngIf="task.title" class="edit">
        <h1>Edit {{task.title}}</h1>
        <div class="show">
            <form class="editinfo" (submit)="editTask($event)">
                <div>
                    <label>Title:</label>
                    <input type="text" name="editTitle" [(ngModel)]="newTask.title" placeholder="{{task.title}}">
                </div>
                <div>
                    <label>Description:</label>
                    <input type="text" placeholder="{{task.description}}" name="editDesc" [(ngModel)]="newTask.description">
                </div>
                <div>
                    <label>Complete</label>
                    <input type="checkbox" name="comp" [(ngModel)]="newTask.completed" id="editComp">
                </div>
                <div>
                    <button type="submit">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>